In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

# Verificando dados faltantes

## Dados completos

In [4]:
#Número de inscrição
train['NU_INSCRICAO'].isna().sum()

0

In [5]:
#Ano do ENEM
train['NU_ANO'].isna().sum()

0

In [6]:
#Código do Município de Residência
train['CO_MUNICIPIO_RESIDENCIA'].isna().sum()

0

In [7]:
#Nome do Município de Residência
train['NO_MUNICIPIO_RESIDENCIA'].isna().sum()

0

In [8]:
#Código da Unidade da Federação de Residência
train['CO_UF_RESIDENCIA'].isna().sum()

0

In [9]:
#Sigla da Unidade da Federação de Residência
train['SG_UF_RESIDENCIA'].isna().sum()

0

In [10]:
#Idade
train['NU_IDADE'].isna().sum()

0

In [11]:
#Sexo
train['TP_SEXO'].isna().sum()

0

In [12]:
#Cor/Raça
train['TP_COR_RACA'].isna().sum()

0

In [13]:
#Nacionalidade
train['TP_NACIONALIDADE'].isna().sum()

0

In [14]:
#Situação de Conclusão do Ensino Médio
train['TP_ST_CONCLUSAO'].isna().sum()

0

In [15]:
#Ano de Conclusão do Ensino Médio
train['TP_ANO_CONCLUIU'].isna().sum()

0

In [16]:
#Tipo de Escola do Ensino Médio
train['TP_ESCOLA'].isna().sum()

0

In [17]:
#Indica se o inscrito fez a prova com intuito de apenas treinar seus conhecimentos
train['IN_TREINEIRO'].isna().sum()

0

In [18]:
#Indicador de Baixa Visão
train['IN_BAIXA_VISAO'].isna().sum()

0

In [19]:
#Indicador de Cegueira
train['IN_CEGUEIRA'].isna().sum()

0

In [20]:
#Indicador de Surdez
train['IN_SURDEZ'].isna().sum()

0

In [21]:
#Indicador de Deficiência Auditiva
train['IN_DEFICIENCIA_AUDITIVA'].isna().sum()

0

In [22]:
#Indicador de Surdo-Cegueira
train['IN_SURDO_CEGUEIRA'].isna().sum()

0

In [23]:
#Indicador de Deficiência Física
train['IN_DEFICIENCIA_FISICA'].isna().sum()

0

In [24]:
#Indicador de Deficiência Mental
train['IN_DEFICIENCIA_MENTAL'].isna().sum()

0

In [25]:
#Indicador de Déficit de Atenção
train['IN_DEFICIT_ATENCAO'].isna().sum()

0

In [26]:
#Indicador de Dislexia
train['IN_DISLEXIA'].isna().sum()

0

In [27]:
#Indicador de Discalculia
train['IN_DISCALCULIA'].isna().sum()

0

In [28]:
#Indicador de Autismo
train['IN_AUTISMO'].isna().sum()

0

In [29]:
#Indicador de Visão Monocular
train['IN_VISAO_MONOCULAR'].isna().sum()

0

In [30]:
#Indicador de outra deficiência ou condição especial
train['IN_OUTRA_DEF'].isna().sum()

0

In [ ]:
#

## Dados faltantes

In [31]:
#Estado Civil
train['TP_ESTADO_CIVIL'].isna().sum()

528

In [32]:
#Código do Município de Nascimento
train['CO_MUNICIPIO_NASCIMENTO'].isna().sum()

609

In [33]:
#Nome do Município de Nascimento
train['NO_MUNICIPIO_NASCIMENTO'].isna().sum()

609

In [34]:
#Código da Unidade da Federação de Nascimento
train['CO_UF_NASCIMENTO'].isna().sum()

609

In [35]:
#Sigla da Unidade da Federação de Nascimento
train['SG_UF_NASCIMENTO'].isna().sum()

609

In [36]:
#Tipo de Instituição que concluiu ou concluirá o Ensino Médio
train['TP_ENSINO'].isna().sum()

9448

In [37]:
#Código da Escola
train['CO_ESCOLA'].isna().sum()

9448

In [38]:
#Código do Município da Escola
train['CO_MUNICIPIO_ESC'].isna().sum()

9448

In [39]:
#Nome do Município da Escola
train['NO_MUNICIPIO_ESC'].isna().sum()

9448

In [40]:
#Código da Unidade da Federação da Escola
train['CO_UF_ESC'].isna().sum()

9448

In [41]:
#Sigla da Unidade da Federação da Escola
train['SG_UF_ESC'].isna().sum()

9448

In [42]:
#Dependência Administrativa (Escola)
train['TP_DEPENDENCIA_ADM_ESC'].isna().sum()

9448

In [43]:
#Localização (Escola)
train['TP_LOCALIZACAO_ESC'].isna().sum()

9448

In [44]:
#Situação de Funcionamento (Escola)
train['TP_SIT_FUNC_ESC'].isna().sum()

9448